.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.steamprofileinput{
    display:flex;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    justify-content: center;
}